%titleStandar{
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
};

%subTitleStandar{
    font-family: 'Alike Angular', serif;
    font-size: 1.8rem;
}

%textStandar{
    font-family: 'Unna', serif;
    font-size: 1.3rem; 
}