*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:not(.fa-brands, .fa-solid), ::before:not(.fa-brands, .fa-solid), ::after:not(.fa-brands, .fa-solid) {
  font-family: "Unna", serif;
}

.headerContainer .navContainer nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.headerContainer .navContainer nav .navUl {
  display: none;
}
.headerContainer .navContainer nav .imgContainer {
  width: 50%;
}
.headerContainer .navContainer nav .imgContainer img {
  height: 4rem;
  width: 10rem;
}
.headerContainer .navContainer nav .responsiveButton {
  display: flex;
  flex-flow: column wrap;
  width: 2rem;
  height: 2rem;
  border: 0;
  background: transparent;
  gap: 0.55rem;
}
.headerContainer .navContainer nav .responsiveButton div {
  background-color: black;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}
.headerContainer .navContainer nav .responsiveButton:hover > div:first-child {
  transform: translateY(-5px);
  transform: rotate(45deg);
}
.headerContainer .navContainer nav .responsiveButton:hover > div:nth-child(2) {
  opacity: 0;
}
.headerContainer .navContainer nav .responsiveButton:hover > div:last-child {
  transform: translateY(5px);
  transform: rotate(-45deg);
}

.indexMainContainer .indexImgContainer {
  overflow: hidden;
  position: relative;
  box-shadow: 2px 5px 9px #000;
  width: 95%;
  padding: 0;
}
.indexMainContainer .indexImgContainer img {
  width: 100%;
  height: 100%;
}
.indexMainContainer .indexImgContainer h1 {
  font-family: "Crimson Text";
  color: red;
  position: absolute;
  top: 10%;
  left: 58%;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.indexMainContainer .indexImgContainer span {
  font-family: "Alike Angular";
  position: absolute;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  top: 55%;
  left: 55%;
}
.indexMainContainer .defaultButton {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.indexMainContainer .defaultButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.indexMainContainer .defaultButton:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.indexMainContainer .defaultButton:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

footer .siteMap h4 {
  color: rgb(77, 76, 76);
  font-family: "Crimson Text";
  font-size: 1.8rem;
}
footer .siteMap ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
footer .siteMap ul li {
  padding: 0.5rem;
}
footer .siteMap ul li a {
  color: gray;
  text-decoration: none;
  font-size: 1rem;
}
footer .copyright {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
footer .copyright ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-right: 1.8rem;
}
footer .copyright ul li {
  margin: 0.3rem;
}
footer .copyright ul li a {
  color: gray;
  font-size: 2rem;
}
footer .copyright h4, footer .copyright h5 {
  font-size: 1rem;
  color: rgb(53, 52, 52);
  font-family: "Alike Angular";
}
footer .copyright h4 {
  font-weight: bold;
}
footer .copyright h5 {
  align-self: flex-end;
}
footer .copyright h5 a {
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */