.mainDonacion .donationDesc h1, .proyectMain h1, .teamMain .directors h2, .teamMain .fpvDescription h1 {
  font-family: "Crimson Text", serif;
  font-size: 2rem;
}

.mainDonacion .donationType h2, .mainDonacion .bgDiv .howUse .howUse-img h2, .proyectMain h2, .teamMain .directors span, .teamMain .directors p, .teamMain .fpvDescription span, .indexMainContainer .poblaciones h3, .indexMainContainer .how2Help h2, .indexMainContainer .necesidad h3, .indexMainContainer .bgDiv .visionSec h2, .indexMainContainer .bgDiv .visionSec h3, .indexMainContainer .pqHacerlo h2, .indexMainContainer .pqHacerlo h3 {
  font-family: "Alike Angular", serif;
  font-size: 1.8rem;
}

.mainDonacion .bgDiv .howUse p, .mainDonacion .donationDesc p, .proyectMain .operations p, .proyectMain .operations span, .teamMain .fpvDescription p, .indexMainContainer .poblaciones ul li, .indexMainContainer .how2Help p, .indexMainContainer .how2Help span, .indexMainContainer .necesidad p, .indexMainContainer .bgDiv .visionSec p, .indexMainContainer .pqHacerlo p, .headerContainer .navContainer nav .responsiveUl li a {
  font-family: "Unna", serif;
  font-size: 1.3rem;
}

.mainDonacion .bgDiv, .teamMain .directors {
  background-color: rgb(245, 27, 59);
  padding: 1rem;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.headerContainer .navContainer nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.headerContainer .navContainer nav .navUl {
  display: none;
}
.headerContainer .navContainer nav .imgContainer {
  width: 50%;
}
.headerContainer .navContainer nav .imgContainer img {
  height: 4rem;
  width: 10rem;
}
.headerContainer .navContainer nav .responsiveButton {
  background: transparent;
  border: 0;
}
.headerContainer .navContainer nav .responsiveButton i {
  font-size: 2rem;
}
.headerContainer .navContainer nav .responsiveUl {
  list-style: none;
}
.headerContainer .navContainer nav .responsiveUl li {
  padding: 5px 0;
}
.headerContainer .navContainer nav .responsiveUl li a {
  text-decoration: none;
  color: rgb(74, 66, 63);
}

.indexMainContainer .indexImgContainer {
  overflow: hidden;
  position: relative;
  box-shadow: 2px 5px 9px #000;
  width: 95%;
  padding: 0;
}
.indexMainContainer .indexImgContainer img {
  width: 100%;
  height: 100%;
}
.indexMainContainer .indexImgContainer h1 {
  font-family: "Crimson Text";
  color: rgb(245, 27, 59);
  font-size: 2rem;
  position: absolute;
  top: 10%;
  left: 58%;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.indexMainContainer .indexImgContainer span {
  font-family: "Alike Angular";
  position: absolute;
  color: rgb(241, 231, 196);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  top: 60%;
  left: 57%;
}
.indexMainContainer .firtDonation p, .indexMainContainer .firtDonation button {
  font-family: "Unna";
  font-size: 1.4rem;
}
.indexMainContainer .firtDonation .participarButton {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgb(245, 27, 59);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(167, 23, 45) 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(241, 231, 196);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s ease;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: wrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.indexMainContainer .firtDonation .participarButton:focus {
  box-shadow: rgba(45, 35, 66, 0.3) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
}
.indexMainContainer .firtDonation .participarButton:active {
  box-shadow: rgba(45, 35, 66, 0.3) 0 3px 7px inset;
  transform: translateY(2px);
}
.indexMainContainer .firtDonation .participarButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.indexMainContainer .pqHacerlo {
  margin-top: 2rem;
}
.indexMainContainer .pqHacerlo h2, .indexMainContainer .pqHacerlo h3 {
  color: rgb(245, 27, 59);
}
.indexMainContainer .pqHacerlo h3 {
  font-size: 1.6rem;
  text-align: left;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}
.indexMainContainer .pqHacerlo p {
  text-align: left;
  width: 90%;
  margin: auto;
}
.indexMainContainer .bgDiv {
  background-color: rgb(245, 27, 59);
  padding: 1rem;
}
.indexMainContainer .bgDiv .visionSec h2, .indexMainContainer .bgDiv .visionSec h3 {
  color: rgb(241, 231, 196);
}
.indexMainContainer .bgDiv .visionSec h3 {
  font-size: 1.6rem;
}
.indexMainContainer .bgDiv .visionSec p {
  color: rgb(241, 231, 196);
}
.indexMainContainer .necesidad img {
  width: 40%;
  height: 40%;
  float: left;
  margin: 1rem;
}
.indexMainContainer .necesidad h3 {
  color: rgb(245, 27, 59);
}
.indexMainContainer .necesidad p {
  text-align: justify;
  width: 90%;
  margin: auto;
}
.indexMainContainer .necesidad .defaultButton {
  margin-top: 1rem;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgb(245, 27, 59);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(168, 21, 43) 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(241, 231, 196);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s ease;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: wrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.indexMainContainer .necesidad .defaultButton:focus {
  box-shadow: rgba(45, 35, 66, 0.3) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
}
.indexMainContainer .necesidad .defaultButton:active {
  box-shadow: rgba(45, 35, 66, 0.3) 0 3px 7px inset;
  transform: translateY(2px);
}
.indexMainContainer .necesidad .defaultButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.indexMainContainer .how2Help h2 {
  color: rgb(241, 231, 196);
}
.indexMainContainer .how2Help h2, .indexMainContainer .how2Help span, .indexMainContainer .how2Help p {
  color: rgb(241, 231, 196);
}
.indexMainContainer .poblaciones {
  margin-top: 1rem;
}
.indexMainContainer .poblaciones img {
  width: 50%;
  height: 100%;
  float: left;
  margin-right: 5px;
}
.indexMainContainer .poblaciones h3 {
  color: rgb(245, 27, 59);
}
.indexMainContainer .poblaciones ul {
  display: flex;
  flex-flow: column wrap;
}
.indexMainContainer .poblaciones ul li {
  text-align: left;
}
.indexMainContainer .blogCardsContainer {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  margin-top: 1rem;
}
.indexMainContainer .blogCardsContainer div {
  outline: auto;
  height: 20rem;
  width: 10rem;
}

footer .siteMap h4 {
  color: rgb(77, 76, 76);
  font-family: "Crimson Text";
  font-size: 1.8rem;
}
footer .siteMap ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
footer .siteMap ul li {
  padding: 0.5rem;
}
footer .siteMap ul li a {
  color: gray;
  text-decoration: none;
  font-size: 1rem;
}
footer .copyright {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
footer .copyright ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-right: 1.8rem;
}
footer .copyright ul li {
  margin: 0.3rem;
}
footer .copyright ul li a {
  color: gray;
  font-size: 2rem;
}
footer .copyright h4, footer .copyright h5 {
  font-size: 1rem;
  color: rgb(53, 52, 52);
  font-family: "Alike Angular";
}
footer .copyright h4 {
  font-weight: bold;
}
footer .copyright h5 {
  align-self: flex-end;
}
footer .copyright h5 a {
  text-decoration: none;
}

.teamMain .fpvDescription h1 {
  color: rgb(245, 27, 59);
}
.teamMain .fpvDescription span {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.teamMain .fpvDescription p {
  margin-top: 0.5rem;
  text-align: left;
}
.teamMain .fpvDescription .defaultButton {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgb(252, 248, 235);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(161, 22, 43) 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(245, 27, 59);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s ease;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: wrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.teamMain .fpvDescription .defaultButton:focus {
  box-shadow: rgba(45, 35, 66, 0.3) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
}
.teamMain .fpvDescription .defaultButton:active {
  box-shadow: rgba(45, 35, 66, 0.3) 0 3px 7px inset;
  transform: translateY(2px);
}
.teamMain .fpvDescription .defaultButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.teamMain .fpvDescription .handPlaneContainer {
  position: relative;
  margin: 2rem 0;
}
.teamMain .fpvDescription .handPlaneContainer img {
  width: 100%;
  height: 100%;
}
.teamMain .fpvDescription .handPlaneContainer p {
  position: absolute;
  top: 0%;
  left: 40%;
  font-size: 1rem;
  text-align: center;
}
.teamMain .directors {
  margin: 2rem 0;
}
.teamMain .directors h2 {
  color: rgb(241, 231, 196);
}
.teamMain .directors span, .teamMain .directors p {
  color: rgb(241, 231, 196);
}
.teamMain .directors p {
  font-size: 1.6rem;
  letter-spacing: 4px;
  margin-bottom: -0.5rem;
}
.teamMain .directors .directorsL {
  width: 90%;
  height: 90%;
  border-radius: 5%;
}
.teamMain .directors .directorsR, .teamMain .directors .directorsD {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  margin-top: 2rem;
}
.teamMain .iMap {
  width: 100%;
}
.teamMain .iMap iframe {
  width: 100%;
  height: 16rem;
}

.proyectMain h1 {
  color: rgb(245, 27, 59);
}
.proyectMain h2 {
  color: rgb(245, 27, 59);
}
.proyectMain .carousel-item img {
  height: 10rem;
}
.proyectMain .operations {
  margin: 2rem auto;
}
.proyectMain .operations p, .proyectMain .operations span {
  margin: 1rem;
}
.proyectMain .operations .donationButton {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgb(245, 27, 59);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(131, 20, 36) 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(241, 231, 196);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s ease;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: wrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.proyectMain .operations .donationButton:focus {
  box-shadow: rgba(45, 35, 66, 0.3) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
}
.proyectMain .operations .donationButton:active {
  box-shadow: rgba(45, 35, 66, 0.3) 0 3px 7px inset;
  transform: translateY(2px);
}
.proyectMain .operations .donationButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.mainDonacion .donationDesc h1 {
  color: rgb(245, 27, 59);
  text-align: left;
  margin-left: 1.1rem;
}
.mainDonacion .donationDesc img {
  width: 50%;
  height: 100%;
  margin: 0.8rem 0.4rem;
  float: right;
}
.mainDonacion .donationDesc div p {
  width: 70%;
  margin: 0 auto;
}
.mainDonacion .donationDesc div .defaultButton {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgb(245, 27, 59);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(141, 24, 41) 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(241, 231, 196);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s ease;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: wrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 0.5rem auto;
}
.mainDonacion .donationDesc div .defaultButton:focus {
  box-shadow: rgba(45, 35, 66, 0.3) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
}
.mainDonacion .donationDesc div .defaultButton:active {
  box-shadow: rgba(45, 35, 66, 0.3) 0 3px 7px inset;
  transform: translateY(2px);
}
.mainDonacion .donationDesc div .defaultButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.mainDonacion .bgDiv .howUse .howUse-img img {
  width: 90%;
  height: 100%;
  margin: auto;
}
.mainDonacion .bgDiv .howUse .howUse-img h2 {
  color: rgb(241, 231, 196);
  width: 80%;
  margin: auto;
}
.mainDonacion .bgDiv .howUse p {
  color: rgb(241, 231, 196);
}
.mainDonacion .bgDiv .howUse p a {
  text-decoration: none;
  color: rgb(222, 208, 179);
}
.mainDonacion .bgDiv .howUse p a:hover {
  color: rgb(241, 231, 196);
}
.mainDonacion .bgDiv .howUse .defaultButton {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgb(252, 248, 235);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(161, 22, 43) 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(245, 27, 59);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s ease;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: wrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.mainDonacion .bgDiv .howUse .defaultButton:focus {
  box-shadow: rgba(45, 35, 66, 0.3) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
}
.mainDonacion .bgDiv .howUse .defaultButton:active {
  box-shadow: rgba(45, 35, 66, 0.3) 0 3px 7px inset;
  transform: translateY(2px);
}
.mainDonacion .bgDiv .howUse .defaultButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.mainDonacion .donationType {
  margin: 1rem auto;
}
.mainDonacion .donationType h2 {
  color: rgb(245, 27, 59);
}
.mainDonacion .donationType .buttonOrder {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 3rem;
  height: 15rem;
}
.mainDonacion .donationType .buttonOrder button {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgb(252, 248, 235);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(161, 22, 43) 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(245, 27, 59);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s ease;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: wrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  width: 8rem;
  height: 5rem;
}
.mainDonacion .donationType .buttonOrder button:focus {
  box-shadow: rgba(45, 35, 66, 0.3) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
}
.mainDonacion .donationType .buttonOrder button:active {
  box-shadow: rgba(45, 35, 66, 0.3) 0 3px 7px inset;
  transform: translateY(2px);
}
.mainDonacion .donationType .buttonOrder button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(45, 35, 66, 0.3) 0 -3px 0 inset;
  transform: translateY(-2px);
}/*# sourceMappingURL=styles.css.map */